$primary-color: dodgerblue; // Color principal
$secondary-color: white; // Color secundario
$button-border-radius: 18px;

p, h2 {
  margin: 0 18px;
  font-size: 14px;
}

button {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 14px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;

  &.primary, &.secondary {
    background-color: $primary-color;
    color: white;
  }

  &:hover {
    background-color: darken($primary-color, 10%); // Oscurece el color al pasar el mouse
  }
}
